version: 2
jobs:
  build:
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Tests
          command: ./gradlew lint test
  test:
    machine:
      environment:
        PATH: "~/$CIRCLE_PROJECT_REPONAME/gradle-2.9/bin:$PATH"
        TERM: "dumb"
        ADB_INSTALL_TIMEOUT: "10"
        GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError"'
    steps:
          # start the emulator
      - emulator -avd circleci-android24 -no-window:
          background: true
          parallel: true
          # wait for it to have booted
      - circle-android wait-for-boot
          # run tests  against the emulator.
      - ./gradlew connectedAndroidTest
          # copy the build outputs to artifacts
      - cp -r my-project/build/outputs $CIRCLE_ARTIFACTS
          # copy the test results to the test results directory.
      - cp -r my-project/build/outputs/androidTest-results/* $CIRCLE_TEST_REPORTS
